<nav class="nav-bar">
  <ul>
    <li><%= link_to('About Me', '/index.html') %></li>
    <li><%= link_to('Publications', '/publications.html') %></li>
    <li><%= link_to('Presentations', '/presentations.html') %></li>
    <li><%= link_to('Research', '/research.html') %></li>
    <li><%= link_to('Tools', '/tools.html') %></li>
  </ul>
</nav>